# Object files
*.o
*.d
*.gch

# Mac Files
*.DS_Store
*__pycache__*

# VSCode Files
*.vscode

# Huge data files
trace/

# CMake build system
build

src/*.sdf
figures/*
results/*
src/.*
src/Debug/*
src/Release/*
src/*.sdf
src/hh-zipf
